@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Michael's Golf Club</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Michael's Golf Club</h2>
        <p>
            Michael's Golf Club is a sample application for
            a job he has applied for. He is trying to prove his 
            ability to learn and adapt to new technologies.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Support Michael</h2>
        <p>You can check out Michael's experiences and history on his LinkedIn profile.</p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/michaelagill/">Michael's LinkedIn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>See what he has done</h2>
        <p>You can find Michael's Github here.</p>
        <p><a class="btn btn-default" href="https://github.com/MichaelAGill/">Michael's Github &raquo;</a></p>
    </div>
</div>